################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/interfaz_remix/FileContentIndex/6f914eb7-f4b3-47da-bb05-575c7a9e7b5f.vsidx
/.vs/interfaz_remix/FileContentIndex/ad671a34-8a47-4833-9b18-258c2db23642.vsidx
/.vs/interfaz_remix/FileContentIndex/f1aa40e1-8882-4336-9c0a-af84acf650f7.vsidx
/.vs/interfaz_remix/FileContentIndex/a817f0ce-2b95-44f4-b063-5895ca72a53f.vsidx
/.vs/interfaz_remix/FileContentIndex/bfa33a43-c7db-4bb7-8a51-39255ded12ba.vsidx
